body {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
  background-color: #CCC;
}

h1 {
  padding: 0px;
  margin: 30px;
}

#result {
  display: none;
  font-size: 1.2em;
  padding: 8px 10px;
  margin: 10px auto;
  width: 600px;
  height: 25px;
  color: #EEE;
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#result.final-results {
  display: block;
  background: #777;
  background-image: linear-gradient(#555, #777);
}

#result.correct {
  display: block;
  background: #008000;
  background-image: linear-gradient(#008000, #006000);
}

#result.incorrect {
  display: block;
  background: #CC0033;
  background-image: linear-gradient(#CC0000, #990000)
}

img {
  border: solid 4px white;
  box-shadow: 8px 8px 4px rgba(0,0,0,.4);
}

div#buttons {
  padding: 15px 0;
}

button {
  font-size: 1em;
  padding: 5px 10px;
  margin: 0 5px;
  color: #FFF;
  border: solid 1px #0076a3;
  border-radius: 10px;
  background: #0095cd;
  background-image: linear-gradient(#00adee, #0078a5);
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

button:hover {
  background: #007ead;
  background-image: linear-gradient(#0095cc, #00678e);
}
